# Assignment 2.1
### Scrape and Analyse

* API [https://beautiful-soup-4.readthedocs.io/en/latest/](https://beautiful-soup-4.readthedocs.io/en/latest/)

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Tasks
Scrape data from the website [http://www.nationmaster.com](http://www.nationmaster.com/), convert it into Pandas data frames and use pandas queries to answer the following questions:

#### 1
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest absolute number of internet users.

#### 2
Get the number of internet users per country, remove all NaN entries and return the top 10 countries with the highest number of internet users relative to the populutation. Hint: you need to scrape the population number from another page)

#### 3
Compute the correlation between the crime rate (murders per 100k) and the education level. Compare this to the correlation of crime rate and poverty (relative BIP). Hint: use pandas build in correlation function: [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)

### REST API
#### Using data from [https://www.energidataservice.dk](https://www.energidataservice.dk)

In [9]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [22]:
#get data from an open energy data service provider
url = 'https://www.energidataservice.dk/proxy/api/datastore_search?resource_id=nordpoolmarket&limit=500'

response = requests.get(url)
dictr = response.json() #parse json to dict
recs = dictr['result']['records'] 
df = json_normalize(recs) #flatten json files into data frame
df.head()

,_id,HourUTC,HourDK,PriceArea,SpotPurchase,SpotSale,SpotPriceDKK,ElbasAveragePriceDKK,ElbasMaxPriceDKK,ElbasMinPriceDKK,SpotPriceEUR,ElbasAveragePriceEUR,ElbasMaxPriceEUR,ElbasMinPriceEUR
0,123773,2016-12-31T23:00:00+00:00,2017-01-01T00:00:00,DK2,1080.3,1191.3,155.82,163.428750,173.87625,149.25000,20.96,21.90,23.3,20.0
1,123774,2017-01-01T00:00:00+00:00,2017-01-01T01:00:00,DK2,1027.5,1188.8,155.37,159.473625,180.59250,143.28000,20.90,21.37,24.2,19.2
2,123775,2017-01-01T01:00:00+00:00,2017-01-01T02:00:00,DK2,963.6,1174.6,134.78,111.191250,179.10000,74.62500,18.13,14.90,24.0,10.0
3,123776,2017-01-01T02:00:00+00:00,2017-01-01T03:00:00,DK2,917.6,1145.3,119.17,157.533375,186.56250,134.32500,16.03,21.11,25.0,18.0
4,123777,2017-01-01T03:00:00+00:00,2017-01-01T04:00:00,DK2,883.6,1183.0,122.14,216.337875,216.41250,215.66625,16.43,28.99,29.0,28.9

#### 4
Compute overview statistics (mean, variance, quantiles, counts,...) for all variables. Hint: there is a single pandas call to get this ...

#### 5 
Compute the average ***SpotSale*** by each day.

#### 6 
Compute the day with the highest variance in ***SpotPurchase***